.DS_Store
Thumbs.db
*.code-workspace
resources/*
!resources/scripts/
!resources/scripts/**
!resources/about/
!resources/about/**
assets/catalog-data.js
assets/main.min.js
assets/jszip.min.js
/.idea/
.vscode/sftp.json